<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>Want to collorate?</p>
<p>Email me at: <a href="mailto:nguyennam9696@gmail.com?Subject=Want%20To%20Collaborate" target="_top">nguyennam9696@gmail.com</a></p>
<p><%= link_to 'Home', root_path %></p>