<footer class="footer">
  <small>
    <a href="https://github.com/nguyennam9696/TDD-Rails-2">Link to Git Repository</a> by <a href="http://nomnomnam.me/">Nam H. Nguyen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>